.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards ek line mein */
    gap: 20px;
    padding: 20px;
}
.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.add-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.add-btn:hover {
    background-color: #218838;
}
